<html>
  <div class="split-l left">
    <div class="map-container" id="map">
    </div>
  </div>
  <div class="split-r right">
    <div class="centered">
      <button type="button" class="btn btn-primary mb-1" (click)="openModal(helpTemplate)">Show help</button>
      <button type="button" (click)="buildGraph()" class="btn btn-primary">
        Build Graph
      </button> <br>
      start point latitude: <input [(ngModel)]="startLat" (ngModelChange)="updateMarkers()">
      start point longitude: <input [(ngModel)]="startLon" (ngModelChange)="updateMarkers()">
      end point latitude: <input [(ngModel)]="endLat" (ngModelChange)="updateMarkers()">
      end point longitude:  <input [(ngModel)]="endLon" (ngModelChange)="updateMarkers()">
      <button type="button" (click)="requestRoute()" class="btn btn-primary mt-1">
        Request Route
      </button><br>
      request result by id: <input [(ngModel)]="jobId">
      <button type="button" (click)="requestResult()" class="btn btn-primary mt-1">
        Request Calculation Result
      </button>
    </div>
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
  </div>
  <ng-template #helpTemplate>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">How to use the routing planner</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>Select the points</h3>
      <p>Click somewhere on to map to select this point as start or destination for the route.
        Alternatively you can manually enter the coordinates of start and destination in the corresponding fields.</p>

      <h3>Request Route</h3>
      <p>After requesting a route, a message will show you the job-id of the route calculation request.
        After one second, the program will try to fetch the result from the server.
        If the route was already calculated, it will drawn on the map.
        If the calculation was not finished, you have to use the "Request Calculation Result" button to poll yourself
        until the result is ready. Also you could enter a past job id in the field and request the route for this past request.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">Close</button>
    </div>
  </ng-template>
</html>
